.StoryViewport {
    position: relative;
    z-index: 98;
    background: gray;
    --height: 90vh;
    height: var(--height);
    width: calc(var(--height) * .562);
    border-radius: .5rem;
    overflow: hidden;
    border: 1px solid #222;
}

.StoryViewport::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 30%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    z-index: 9;
}


.story-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(.25);
}

.current .story-bg{
    filter: brightness(.5);
}
.StoryViewport::after {
    content: '';
}

.icon {
    position: absolute;
    width: 26vh;
    z-index: 9;
    top: calc(50% - 13vh);
    left: calc(50% - 13vh);
    margin: 0;
    border-radius: 100%;
    box-sizing: border-box;
    padding: 5px;
    border: 3px solid rgba(255, 255, 255, .5);

}

.current .icon {
    /* width: 2.2rem;
    margin: 1.8rem .8rem; */
    width: 5vh;
    margin: 4.5vh 2.5vh;
    top: 0;
    left: 0;
    transform: none;
    padding: 2px;
    border: 1px solid rgba(255, 255, 255, .5);
}

.project-header {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: 16vh;
    z-index: 9;
    text-align: center;
    line-height: 1;
}

.current .project-header {
    top: 0;
    box-sizing: border-box;
    padding: 6vh 1vh 0 9vh;
    text-align: left;
    margin: 0;
    transition: all .1s;
}

.project-name {
    color: #fff;
    width: 33vh;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    font-size: 2.5vh;
    text-align: center;
}


.current .project-name {
    margin: 0 1vh 0 0;
    top: 40px;
    text-align: left;
    font-size: 2vh;
}

.project-age {
    display: block;
    margin-top: 1vh;
    font-size: 2.5vh;
    color: rgba(255, 255, 255, 0.7)
}


.current .project-age {
    display: inline;
    font-size: 2vh;
}


.pages,
.page {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.pages {
    filter: brightness(.5) blur(5px);
    transition: filter .5s;
}

.current>.StoryViewport>.pages {
    filter: brightness(1);
}

.page{
    opacity: 0;
}
.page.current {
    z-index: 4;
    opacity: 1;
}

.scale-to-fit {
    /* max-width: 100%;
    max-height: 100%; */
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
}