.Works {
    background: #fff;
    outline: var(--component-outline);
    width: var(--container-width-desktop);
    margin: auto;
    overflow: hidden;
}

.icons-featured {
    white-space: nowrap;
}

.icon {
    width: 5rem;
    border-radius: 100%;
    margin: 1.5rem;
    padding: .2em;
    border: var(--component-outline);
}

.project {
    display: inline-block;
}