html,body{
  margin: 0;
  padding: 0;
  border: 0;
}
.App {
  text-align: center;
}

iframe{
  border: none;
}


ul, ol{
  margin: 0;
  padding: 0;
  list-style: none;
}

.banner-160x600{
  width: 160px;
height: 600px;
}