@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

:root{
  /* Responsiveness */
  --container-width-desktop: 720px; 

  /* Component Styles */
  --component-outline: 1px solid #ddd;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Nunito Sans', sans-serif;
}

body{
  background: #fafafa;
  /* background: url(https://picsum.photos/2000) no-repeat center/cover;  */
  min-height: 105vh;
}

.App {
  text-align: center;

}

iframe {
  border: none;
}


ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.banner-160x600 {
  width: 160px;
  height: 600px;
}

nav{
  width: var(--container-width-desktop);
  margin: auto;
}
nav ul {
  text-align: right;
}

nav li{
  display: inline-block;
}

nav span.material-icons,
nav span.material-icons-outlined{
  font-size: 1.5rem;
  padding: .5rem;
}

nav a,
nav a.visited{
  color: #bbb;
}